.main-timeline{ font-family: 'Poppins', sans-serif; }
.main-timeline:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline .timeline{
    width: 100%;
    border-bottom: 2px solid #404247;
    float: right;
    position: relative;
    z-index: 1;
}
.main-timeline .timeline:before{
    content: "";
    background: #404247;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    position: absolute;
    bottom: -5px;
    left: 0;
}
.main-timeline .timeline-content{
    color: #404247;
    padding: 15px 10px 15px 80px;
    display: block;
    position: relative;
}
.main-timeline .timeline-content:before{
    content: "";
    background: #84d6ff;
    width: 15px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 51px;
}
.main-timeline .timeline-year {
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
    transform: translateY(-50%) rotate(-90deg);
    position: absolute;
    top: 50%;
    left: 0;
}

.main-timeline .timeline:nth-child(4n+2) .timeline-content:before{ background: #ff83ac; }
.main-timeline .timeline:nth-child(4n+3) .timeline-content:before{ background: #9370bd; }
.main-timeline .timeline:nth-child(4n+4) .timeline-content:before{ background: #bcbf66; }

@media screen and (max-width:767px){
    .main-timeline .timeline-content:before{ left: 10px }
    .main-timeline .timeline:before{ display: none }
    .main-timeline .timeline-content {padding-left: 30px;}
}
